/* Style général */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f1f9f5;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Conteneur du plexus */
#plexus-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Conteneur principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 1;
}

/* Titre principal */
h1 {
    text-align: center;
    color: #2c7873;
    margin-bottom: 40px;
}

/* Filtre des spécialités */
.filter-container {
    text-align: center;
    margin-bottom: 20px;
}

.filter-container select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Liste des professionnels */
.professional-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;  /* Activer le défilement vertical */
}


/* Style des rectangles pour les professionnels */
.professional {
    background-color: #bff1e1;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    transition: max-height 0.5s ease, background-color 0.3s ease, transform 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

/* Animation d'entrée */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.professional-header {
    display: flex;
    align-items: center;
}

.professional-photo { 
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.professional-info {
    flex: 1;
}

/* Effet de survol */
.professional:hover {
    background-color: #b8e3d3;
    transform: scale(1.02);
}

/* Affichage par défaut des détails cachés */
.details {
    display: none;
    margin-top: 10px;
}

/* État étendu du rectangle avec les détails */
.professional.expanded {
    background-color: #b8e3d3;
    max-height: 400px;
    transition: max-height 0.5s ease;
}

.professional.expanded .details {
    display: block;
}

/* Système de notation */
.rating {
    display: flex;
    gap: 5px;
}

.rating span {
    font-size: 20px;
    color: gold;
}

/* Bouton de contact */
.contact-btn {
    background-color: #2c7873;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-btn:hover {
    background-color: #1a6356;
}footer p {
    color: rgb(25, 138, 89);
}
.fa-leaf {
    color: green; /* Changer la couleur de l'icône */
    margin-left: 10px; /* Espace entre le nom et l'icône */
}

